/* Mensagem */
/* .body {
    background-color: rgb(255, 234, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Handlee", cursive;
    font-weight: bold;
    color: rgb(122, 15, 15);
}

.container {
    max-width: 500px;
    width: 90%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}

.message {
    display: flex;
    margin-top: 50px;
    text-align: center;
    font-size: 2rem;

} */


/* Macaco */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.imagem {
    background-image: url(macaco.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    max-height: 800px;
}