* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
    overflow: hidden;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #fce4ec, #f8bbd0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position: relative;
}

#particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  opacity: 0.6;
}

#flores {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* atrás de tudo */
  pointer-events: none;
}

.container {
  max-width: 600px;
  width: 100vw;
  height: 90vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    z-index: 2; 
  position: relative;
  overflow: hidden;
}

#titulo {
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem;
  white-space: nowrap;
  color: #8b3a4d;
  margin-bottom: 1.5rem;
  min-height: min-content;
}

#mensagem {
  font-family: 'Dancing Script', cursive;
  font-size: 1.7rem;        /* 👈 menor que o título */
  color: #5a2e35;
  line-height: 1.6;
  min-height: 120px;
  height: 85vh;
  font-weight: bold;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transform: none;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  display: flex;
  align-items: center;
  min-height: min-content;
}

button {
  background-color: #b04a66;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

button:hover {
  background-color: #d76a83;
}
